{% extends 'base.html' %}
{% block content %}
    <div class="container border shadow mt-3">
        <form method="post" >
            {% csrf_token %}
            <div class="mb-3 p-4">
                <label for="exampleFormControlInput1" class="form-label">Name</label>
                <div>
                    {{ form.name }}
                </div>
                <label for="exampleFormControlInput1" class="form-label">Email address</label>
                <div>
                    {{ form.email }}
                </div>
                <label for="exampleFormControlInput1" class="form-label">Password</label>
                <div>
                    {{ form.password }}
                </div>
                <label for="exampleFormControlInput1" class="form-label">Contact no</label>
                <div>
                    {{ form.contact_no }}
                </div>
                <br>
                <div>
                    <button style="width: 160px" class="btn btn-primary " type="submit">Add</button>
                </div>
            </div>
        </form>
    </div>
{% endblock %}